<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function toggleDetails(id) {
            var element = document.getElementById(id);
            if (element.style.display === "none") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }
    </script>
</head>

<body>
    <header>
        <h1>Admin Panel</h1>
    </header>
    <div class="container">
        <div class="admin-buttons">
            <a href="{{ url_for('add_job') }}" class="button">Add Job</a>
            <a href="{{ url_for('logout') }}" class="button">Logout and Return to Homepage</a>
        </div>
        <h2>Job Listings</h2>
        <table>
            <tr>
                <th>Job Title</th>
                <th>Description</th>
                <th>Requirements</th>
                <th>Salary</th>
                <th>Vacancy</th>
                <th>Actions</th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>{{ job[1] }}</td>
                <td>{{ job[2] }}</td>
                <td>{{ job[3] }}</td>
                <td>BDT {{ job[4] }}</td>
                <td>{{ job[5] }}</td>
                <td>
                    <a href="{{ url_for('edit_job', job_id=job[0]) }}" class="button">Edit</a>
                    <a href="{{ url_for('delete_job', job_id=job[0]) }}" class="button button-delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h2>Applications</h2>
        {% for job_title, applications in grouped_applications.items() %}
        <div class="card">
            <h3>{{ job_title }}</h3>
            <ul>
                {% for application in applications %}
                <li>
                    <strong>{{ application[2] }}</strong>
                    <button onclick="toggleDetails('details-{{ application[0] }}')" class="button">Toggle
                        Details</button>
                    <div id="details-{{ application[0] }}" style="display: none;">
                        Email: {{ application[3] }}<br>
                        Address: {{ application[4] }}<br>
                        Contact: {{ application[5] }}<br>
                        Desired Salary: {{ application[6] }} BDT<br>
                        Employability Desire: {{ application[7] }}<br>
                        Citizenship: {{ application[8] }}<br>
                        Religion: {{ application[9] }}<br>
                        Previous Teaching Experience: {{ application[10] }}<br>
                        University CGPA: {{ application[11] }}<br>
                        Passing Year: {{ application[12] }}<br>
                        SSC Year: {{ application[13] }}<br>
                        HSC Year: {{ application[14] }}<br>
                        <div class="button-group">
                            <a href="{{ url_for('delete_application', application_id=application[0]) }}"
                                class="button button-delete">Delete</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>

</html>