<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to DIU SWE Career Hub!</h1>
    </header>
    <div class="container">
        <div class="card">
            <h2><a href="/careers">Find your career</a></h2>
            <p>Explore job vacancies and apply now.</p>
        </div>

        <div class="card">
            <h2><a href="/chatbot">Chatbot Help</a></h2>
            <p>Get assistance from our AI-powered chatbot.</p>
        </div>

        <div class="card">
            <h2><a href="/about">About DIU SWE Career Hub</a></h2>
            <p>Learn more about our mission and the services we offer.</p>
        </div>

        <div class="card">
            <h2><a href="/admin">Admin Panel</a></h2>
            <p>Manage users, posts, and other administrative tasks.</p>
        </div>
    </div>
</body>

</html>